#img-login {
  width: 180px;
  height: 180px;
}

.formRegist {
  display: grid;
  gap: 15px;
}

.formRegist input {
  border: none;
  outline: 0;
  width: 423px;
  height: 53px;
  border-radius: 15px;
  padding-left: 20px;
}

.formRegist input:focus {
  background-color: #ededed;
  font-size: 14px;
}

.formRegist button {
  border: none;
  cursor: pointer;
  background-color: #478c27;
  color: aliceblue;
  width: 206px;
  height: 50px;
  border-radius: 10px;
  margin-left: 122px;
}

.formRegist button:hover {
  background-color: #48832c;
}
